#attack-area{
    float: right;
    width: 50%;
}

/* Container for characters when chosen */
#fighter {
    margin-top: -30px;
    height: 200px;
    width: 20%;
    text-align: center;
}

#defender {
    margin-top: -50px;
    height: 200px;
    width: 20%;
    text-align: center;
}

#enemies-left{
    width: 50%;
}

/* title style */
h1 {
    padding: 10px;
    font-family: 'News Cycle', serif;
    font-size: 48px;
    color: lightblue;
    display: block;
    text-align: center;
}

/* name styles */
h2 {
    font-family: 'News Cycle', serif;
    font-size: 24px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

/* score styles */
h3 {
    font-family: 'News Cycle', serif;
    font-size: 18px;
    color: yellow;
    line-height: 24px;
    text-align: center;

}

/* directions styles */
p {
    font-family: 'News Cycle', serif;
    font-size: 24px;
    color: yellow;
    text-align: center;
    padding: 10px;
}

h4{
    font-family: 'News Cycle', serif;
    font-size: 36px;
    color: red;
    margin: auto;
    text-align: center;
}