/* Container for characters */
.container {

    float: left;
}

/* Container for characters when chosen */
.fight-container {
    
}

/* title style */
h1 {
    padding: 20px;
    font-family: 'News Cycle', serif;
    font-size: 72px;
    color: lightblue;
    display: block;
    text-align: center;
}

/* name styles */
h2 {
    font-family: 'News Cycle', serif;
    font-size: 18px;
    text-align: center;
    color: yellow;
    padding-bottom: 10px;
}

/* score styles */
h3 {
    font-family: 'News Cycle', serif;
    font-size: 18px;
    color: yellow;
    text-align: center;

}

/* directions styles */
p {
    font-family: 'News Cycle', serif;
    font-size: 24px;
    color: yellow;
    text-align: center;
    padding: 10px;
}